*{
    padding:0;
    margin:0;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    width: 350px;
}

.additional-btns{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.half_btn{
    width:49%;
    color: white;
    background: black;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    min-height: 30px; 
}


#colList{
    display:flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
    margin-bottom: 10px;
}

#getClrs{
    margin-top:5px;
    width:100%;
    color: white;
    background: black;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    min-height: 30px;
}

#copied{
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

#imageList{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img-list-el
{
    border: 1px solid black;
    margin-left:5px;
    margin-top: 5px;
    display:flex;
    background-color: #cacaca;
}

.list-el{
    display:flex;
    flex-direction: row;
    font-size: large;
    text-shadow: 1px 1px 2px black;
}

.list-el__color-cube{
    border: 1px solid black;
    width: 20px;
    height:20px;
}

.list-el__text{
    text-align: center;
}

.list-el:hover{
    cursor: pointer;
}